#barometre h2 {
	margin-bottom: 20px !important;
}

#barometre th,
#barometre td {
	padding: 3px 5px;
}

#barometre table tr td:nth-child(1) {
	width: 20px;
	background-color: var(--gray);
	text-align: right;
}

#barometre table tr td:nth-child(2) {
	padding-right: 20px;
}
#barometre table tr td:nth-child(2n+3) {
	width: 24px;
	padding: 0 0 3px;
	text-align: center;
}
#barometre table tr td:nth-child(2n+4) {
	width: 45px;
}

@media (max-width: 500px) {
    #barometre th,
    #barometre td {
        padding: 1px 3px;
    }

    #barometre table tr td:nth-child(2n+3) {
        width: 20px;
        padding: 0 0 3px;
        text-align: center;
    }

    #barometre table tr td:nth-child(2n+4) {
        width: 35px;
    }
}

#barometre .new {
	background-color: var(--theme);
}
#barometre .new::after {
	content: '⭐';
}

#barometre .grup-1 {
    background-color: var(--ss);
    color: #000000;
}
#barometre .grup0 {
    background-color: var(--s0);
    color: #000000;
}
#barometre .grup1 {
    background-color: var(--s1);
    color: #000000;
}
#barometre .grup2 {
    background-color: var(--s2);
    color: #000000;
}
#barometre .grup3 {
    background-color: var(--s3);
    color: #ffffff;
}
#barometre .grup4 {
    background-color: var(--s4);
    color: #ffffff;
}
#barometre .grup5 {
    background-color: var(--s5);
    color: #ffffff;
}
#barometre .grup6 {
    background-color: var(--s6);
    color: #ffffff;
}
#barometre .grup7 {
    background-color: var(--s7);
    color: #ffffff;
}
#barometre .carregat {
    background-color: var(--cc) !important;
    color: #000000 !important;
}
