.bars-container {
    height: 20px;
    display: flex;
    flex-wrap: nowrap;
}

.bar {
    width: 10px;
    margin: 0 2px;
    align-self: flex-end;
}

.bar.castell {
    background-color: white;
}

.bar.pilar {
    background-color: black;
}
