#calendar h1 {
    margin-bottom: 10px;
}

#calendar .calendar {
    width: 800px;
}

#calendar .header {
    margin-bottom: 20px;
}
#calendar .header h3 {
    padding: 10px 0;
}
#calendar .header button {
    padding: 10px 15px;
}

#calendar th {
    padding-bottom: 10px;
}

#calendar td {
    height: 110px;
    overflow: hidden;
}

#calendar .day {
    padding: 1px 3px;
}

#calendar .diada {
    top: 20px;
    width: calc(100% - 4px);
    padding: 0 2px;
}
#calendar .diada div {
    padding-left: 5px;
    border-radius: 3px;
    margin-bottom: 2px;
}

#calendar .jump-today {
    margin-top: 20px;
}
#calendar .jump-today button {
    font-size: 16px;
    padding: 8px 10px;
}

#calendar .diada-info {
    padding: 5px;
    padding-right: 50px;
    max-width: 450px;
}
#calendar .diada-info h2 {
    font-size: 20px;
    margin-bottom: 15px;
}
#calendar .countdown {
    margin: 25px auto 10px;
    padding: 5px 10px;
}
#calendar .close::after {
    width: 16px;
    height: 16px;
    top: 5px;
    right: 5px;
}

@media (max-width: 820px) {
    #calendar .calendar {
        width: 98%;
    }
    #calendar th {
        padding-bottom: 5px;
    }
    #calendar td {
        height: 80px;
    }
    #calendar .day,
    #calendar .diada {
        font-size: 12px;
    }
    #calendar .diada {
        top: 15px;
        width: calc(100% - 2px);
        padding: 0 1px;
    }
    #calendar .diada div {
        padding: 0 1px;
        font-size: 9px;
        margin-bottom: 1px;
    }
    #calendar .diada-info {
        max-width: 75%;
    }
}

#calendar .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#calendar .header * {
    color: gray;
    font-size: 14px;
}
#calendar .header h3 {
    font-weight: normal;
}
#calendar .header button {
    background-color: #ffffff;
    border: none;
    cursor: pointer;
}
#calendar .header button:hover {
    background-color: var(--lightGray);
}

#calendar table {
    width: 100%;
    text-align: center;
}

#calendar th {
    background-color: #ffffff;
}

#calendar td {
    position: relative;
    width: calc(100% / 7);
}
#calendar td:not(.blank) {
    border: 1px solid var(--gray);
}
#calendar td:hover .day {
    text-decoration: underline;
}
#calendar .day {
    position: absolute;
    top: 0;
    right: 0;
    user-select: none;
}
#calendar .weekend {
    color: var(--theme);
}
#calendar .today {
    background-color: var(--theme);
    color: #ffffff;
}

#calendar .diada {
    position: absolute;
    left: 0;
    white-space: nowrap;
}
#calendar .diada div {
    overflow: hidden;
    text-align: left;
    user-select: none;
}
#calendar .diada div:hover {
    opacity: 0.8;
    cursor: pointer;
}

#calendar .jump-today button {
    border: none;
    cursor: pointer;
    background-color: var(--theme);
    color: #ffffff;
    border: 2px solid var(--theme);
}
#calendar .jump-today button:hover {
    background-color: #ffffff;
    color: var(--theme);
}

#calendar .diada-info {
    position: absolute;
    top: 20%;
    left: 5%;
    background-color: #ffffff;
    border: 2px solid var(--theme);
    box-shadow: 0 0 10px 0 var(--darkerGray);
}
#calendar .diada-info p {
    margin: 0;
}
#calendar .countdown {
    width: fit-content;
    text-align: center;
    background-color: var(--theme);
    color: #ffffff;
}
#calendar .close::after {
    content: '×';
    color: #ffffff;
    background-color: var(--theme);
    border: 2px solid var(--theme);
    overflow: hidden;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
#calendar .close:hover::after {
    color: var(--theme);
    background-color: #ffffff;
}
