#calendar h1 {
    margin-bottom: 10px;
}

@media (max-width: 820px) {
    #calendar .calendar {
        width: 600px !important;
    }
    #calendar .diada {
        top: 15px !important;
    }
}

#calendar .calendar {
    width: 800px;
}

#calendar .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}
#calendar .header * {
    color: gray;
    font-size: 14px;
}
#calendar .header h3 {
    font-weight: normal;
    padding: 10px 0;
}
#calendar .header button {
    background-color: #ffffff;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
}
#calendar .header button:hover {
    background-color: var(--lightGray);
}

#calendar table {
    width: 100%;
    text-align: center;
}

#calendar th {
    background-color: #ffffff;
    padding-bottom: 10px;
}

#calendar td {
    position: relative;
    height: 110px;
}
#calendar td:not(.blank) {
    border: 1px solid var(--gray);
}
#calendar .day {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1px 3px;
}
#calendar .weekend {
    color: var(--theme);
}
#calendar .today {
    background-color: var(--theme);
    color: #ffffff;
}

#calendar .diada {
    position: absolute;
    left: 0;
    top: 20px;
    white-space: nowrap;
    width: calc(100% - 4px);
    padding: 0 2px;
}
#calendar .diada div {
    padding-left: 5px;
    border-radius: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    margin-bottom: 2px;
    user-select: none;
}
#calendar .diada div:hover {
    opacity: 0.8;/*
    cursor: pointer;*/
}

#calendar .jump-today {
    margin-top: 20px;
}
#calendar .jump-today button {
    border: none;
    cursor: pointer;
    background-color: var(--theme);
    color: #ffffff;
    font-size: 16px;
    padding: 8px 10px;
    border: 2px solid var(--theme);
}
#calendar .jump-today button:hover {
    background-color: #ffffff;
    color: var(--theme);
}
