:root {
    --theme: #e43800;
    --darkTheme: #b63307;
    --lightTheme: #ffcccc;
	--darkerGray: #484848;
	--darkGray: #898989;
	--gray: #b7b7b7;
	--lightGray: #eaeaea;
    --orange: #fdbd47;
    --green: #229f22;

	--s0: #ffffff;
	--s1: #f5d7d7;
	--s2: #e4a7a7;
	--s3: #e06666;
	--s4: #cc0000;
	--s5: #990000;
	--s6: #660000;
	--s7: #440000;
	--s8: #000000;
	--cc: #ffe599;
	--cd: #c7d9c6;

	--arreplegats: #15a884;
	--pataquers: #f26e00;
	--passerells: #c99fd0;
    --ganapies: #257ba2;
    --marracos: #979db5;
    --trempats: #a48970;
    --xoriguers: #12c3f4;
    --emboirats: #c80036;
    --bergants: #9dd237;
    --engrescats: #ffdd00;
    --penjats: #f80000;
    --grillats: #cd157a;
    --llunatics: #21277c;
}

@font-face {
    font-family: 'Arial Narrow';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/l/font?kit=XRXT3ISEjEpJMsiWU7T2CbzddhoCJnFqZQ&skey=4c60fa556950fb05&v=v18) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html, body {
    min-height: 100vh;
	margin: 0;
	font-family: 'Arial';
    overflow-x: hidden;
}

body {
    position: relative;
}
body::after {
    content: '';
    display: block;
    height: 150px;
}

#root {
    margin: 80px 0 20px 2%;
}

h1, h2, h3,
h2, a {
	color: var(--theme);
	margin: 0;
}
h2 {
	font-size: 15px;
}
h3 {
	font-size: 12px;
}

#barometre,
#score,
#stats,
#calendar,
#diades {
    scroll-margin-top: 80px;
}

@media (max-width: 500px) {
    table {
        font-size: 12px;
    }

    div.justify_center {
        margin: auto;
    }
}

table {
	border-collapse: collapse;
}

th {
	text-align: center;
	background-color: var(--theme);
}

.arreplegats {
    background-color: var(--arreplegats) !important;
}
.pataquers {
    background-color: var(--pataquers) !important;
}
.passerells {
    background-color: var(--passerells) !important;
}
.ganàpies {
    background-color: var(--ganapies) !important;
}
.marracos {
    background-color: var(--marracos) !important;
}
.trempats {
    background-color: var(--trempats) !important;
}
.xoriguers {
    background-color: var(--xoriguers) !important;
}
.emboirats {
    background-color: var(--emboirats) !important;
}
.bergants {
    background-color: var(--bergants) !important;
}
.engrescats {
    background-color: var(--engrescats) !important;
}
.penjats {
    background-color: var(--penjats) !important;
}
.grillats {
    background-color: var(--grillats) !important;
}
.llunàtics {
    background-color: var(--llunatics) !important;
    color: #ffffff !important;
}

.grup0 {
    background-color: var(--s0);
    color: #000000;
}
.grup1 {
    background-color: var(--s1);
    color: #000000;
}
.grup2 {
    background-color: var(--s2);
    color: #000000;
}
.grup3 {
    background-color: var(--s3);
    color: #000000;
}
.grup4 {
    background-color: var(--s4);
    color: #ffffff;
}
.grup5 {
    background-color: var(--s5);
    color: #ffffff;
}
.grup6 {
    background-color: var(--s6);
    color: #ffffff;
}
.grup7 {
    background-color: var(--s7);
    color: #ffffff;
}
.grup8 {
    background-color: var(--s8);
    color: #ffffff;
}

.table-wrap {
    position: relative;
	overflow-x: scroll !important;
    scrollbar-width: none;
}
.table-wrap::-webkit-scrollbar {
	display: none;
}
