:root {
    --theme: #e43800;
    --darkTheme: rgb(182, 51, 7);
	--darkGray: #484848;
	--gray: #b7b7b7;
	--lightGray: #eaeaea;
    --orange: #fdbd47;
    --green: #229f22;

	--s0: #ffffff;
	--s1: #f6e4e4;
	--s2: #f4cccc;
	--s3: #e06666;
	--s4: #cc0000;
	--s5: #990000;
	--s6: #660000;
	--s7: #440000;
	--s8: #000000;
	--cc: #ffe599;

	--arreplegats: #15a884;
	--pataquers: #f26e00;
	--passerells: #c99fd0;
    --ganapies: #257ba2;
    --marracos: #979db5;
    --trempats: #a48970;
    --xoriguers: #12c3f4;
    --emboirats: #c80036;
    --bergants: #9dd237;
    --engrescats: #ffdd00;
    --penjats: #f80000;
    --grillats: #cd157a;
    --llunatics: #21277c;
}

html, body {
	margin: 0;
	font-family: 'Arial';
    overflow-x: hidden;
}

#root {
    margin: 80px 2% 20px;
}

h1, h2, h3,
h2, a {
	color: var(--theme);
	margin: 0;
}
h2 {
	font-size: 15px;
}
h3 {
	font-size: 12px;
}

#barometre,
#score,
#diades {
    scroll-margin-top: 80px;
}

@media (max-width: 500px) {
    div.justify_center {
        display: flex;
        justify-content: center;
    }

    table {
        font-size: 12px;
    }
}

table {
	border-collapse: collapse;
}

th {
	text-align: center;
	background-color: var(--theme);
}

.arreplegats {
    background-color: var(--arreplegats) !important;
}
.pataquers {
    background-color: var(--pataquers) !important;
}
.passerells {
    background-color: var(--passerells) !important;
}
.ganàpies {
    background-color: var(--ganapies) !important;
}
.marracos {
    background-color: var(--marracos) !important;
}
.trempats {
    background-color: var(--trempats) !important;
}
.xoriguers {
    background-color: var(--xoriguers) !important;
}
.emboirats {
    background-color: var(--emboirats) !important;
}
.bergants {
    background-color: var(--bergants) !important;
}
.engrescats {
    background-color: var(--engrescats) !important;
}
.penjats {
    background-color: var(--penjats) !important;
}
.grillats {
    background-color: var(--grillats) !important;
}
.llunàtics {
    background-color: var(--llunatics) !important;
    color: #ffffff !important;
}

.grup0 {
    background-color: var(--s0);
    color: #000000;
}
.grup1 {
    background-color: var(--s1);
    color: #000000;
}
.grup2 {
    background-color: var(--s2);
    color: #000000;
}
.grup3 {
    background-color: var(--s3);
    color: #000000;
}
.grup4 {
    background-color: var(--s4);
    color: #ffffff;
}
.grup5 {
    background-color: var(--s5);
    color: #ffffff;
}
.grup6 {
    background-color: var(--s6);
    color: #ffffff;
}
.grup7 {
    background-color: var(--s7);
    color: #ffffff;
}
.grup8 {
    background-color: var(--s8);
    color: #ffffff;
}

.space_between {
    height: 100px;
}

.footer {
    margin-top: 50px;
    background-color: var(--darkGray);
    padding: 15px 0 20px 10px;
}
.footer p {
    margin: 0 0 15px;
    font-size: 14px;
    color: #ffffff;
}
.footer a {
    color: #ffffff;
    font-weight: bold;
}
